%section.intro
  .intro-left<
    %h1 Top Trending Artists
  .intro-right<
    %h2 Introduction
    %p Dolor elit ex deserunt do excepteur. Quis et officia irure occaecat aliqua velit excepteur aute ullamco quis culpa deserunt aute. Consequat nostrud do officia reprehenderit cupidatat ea Lorem cillum nisi Lorem incididunt consequat eu.
    %h2 A #ArtsyHackathon Project
    = render partial: 'social'
