%section.intro
  .intro-left<
    %h1 Trending Artists
  .intro-right<
    %h2 Introduction
    %p Artsy is a platform for discovering art from the world’s leading galleries, museums, institutions, art fairs, and auctions. Using our growing database of over 300,000 artworks and over 45,000 artists, coupled with external data including search engine queries, auction results, and social media mentions, we created a list of today's trending artists ranked by our Artsgorithm.
    %h2 An #ArtsyHackathon Project
    = render partial: 'social'
