%ul.main-list
  %li.main-list-item
    .main-list-item-left
      .main-list-number 1
      %img.main-list-img{ src: 'https://s3.amazonaws.com/f.cl.ly/items/3Z3y1R04092Z1y2F3t3T/Image%202015-08-12%20at%207.36.26%20PM.png' }
      .main-list-name Andy Warhol
    .main-list-item-right
      .main-list-stat
        .main-list-stat-label Pageviews
        .main-list-state-number 250k
      .main-list-stat
        .main-list-stat-label Tweets
        .main-list-state-number 10
      .main-list-stat
        .main-list-stat-label Tweets
        .main-list-state-number 10
