@import "lib";

.header {
  border-bottom: 1px solid $dark-gray-color;
  text-align: center;
  padding: 15px 0 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background: black;
}

.header img {
  height: 40px;
  display: inline-block;
}