@import "bourbon";

$col-width: 56px;
$gutter-size: 32px;
$dark-gray-color: #666;
$gray-color: #999;
$purple-color: #6a0bc1;

@mixin avantgarde($font-size) {
  font-family: 'ITC Avant Garde Gothic W04','AvantGardeGothicITCW01D 731075','AvantGardeGothicITCW01Dm','Helvetica','sans-serif';
  text-transform: uppercase;
  font-size: $font-size;
  letter-spacing: 1px;
}

@mixin garamond($font-size) {
  font-family: 'Adobe Garamond W08','adobe-garamond-pro','AGaramondPro-Regular','Times New Roman','Times','serif';
  font-size: $font-size;
}